@page
@model MUSCAttendance.Pages.Attendances.IndexModel

@{
    ViewData["Title"] = "Attendance Logs";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].AttendanceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Type)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Performed)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].HasProgram)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Attendance[0].OtherDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].ProgramDescription)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasProgram)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.OtherDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramDescription)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AttendanceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AttendanceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AttendanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
