@page
@model MUSCAttendance.Pages.Forms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl >
        <dt >
            @Html.DisplayNameFor(model => model.Form.EventDate)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.EventDate)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Form.Type)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.Type)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Form.Performed)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.Performed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form.HasProgram)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.HasProgram)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Form.OtherDescription)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.OtherDescription)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Form.ProgramDescription)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.ProgramDescription)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Form.Approved)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Form.Approved)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Form.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>