@page
@model MUSCAttendance.Pages.Forms.IndexModel

@{
    ViewData["Title"] = "Attendance Logs";
}


<div>

    <form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by ID number:
            <input type="text" name="SearchString" value="@Model.SearchID" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<h1>Elliot Allen</h1>


<h4>Progress</h4>
<dl >
        <dt >
            Total Attendances
        </dt>
        <dd >
            0
        </dd>
        <dt >
            Hendrix events
        </dt>
        <dd >
            0
        </dd>
        <dt >
            UCA events
        </dt>
        <dd >
            0
        </dd>
        <dt >
            Other events
        </dt>
        <dd >
            0
        </dd>
    </dl>
</div>

<hr>

<div>
    <h4>Attendances</h4>

    
      <table class="table">
    <thead>
        <tr>
            <th>Event Date</th>
            <th>Event Location</th>
            <th>Performed</th>
            <th>Program?</th>
            <th>OtherDescription</th>
            <th>Description</th>
            <th>Approved</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Form) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasProgram)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.OtherDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramDescription)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>


